<script id="tpl-smart-tip" type="text/tpl">
    <div class="ctn arrow-t">
    </div>
</script>
<script id="tpl-smart-flush-tip" type="text/tpl">
    <div class="g-popup-fade" style="display: none;">
        <p class="info"></p>
    </div>
</script>
<script id="tpl-smart-arror-tip" type="text/tpl">
        <span class="fadeOutDown"></span>
</script>
<script id="tpl-m-smart-arror-tip" type="text/tpl">
        <span class="flush"><img src="common/images/sidebar/down-all.gif"></span>
</script>
<script id="tpl-smart-descript-tip" type="text/tpl">
    <div class="g-app-tips arrow-left" id="descriptTip">
        <i class="arr"></i>
            <div class="title version te">
            </div>
            <p class="info c-6"></p>
      </div>
</script>
