<script id="tpl-aboutMe-view" type="text/tpl">
	<div class="g-aboutMG-moudle">
		<dl class="g-aboutMG-info">
			<dt class="fl">
			</dt>
			<dd class="fl g-aboutMG-info-text">
				<h1 class="c-3 g-aboutMG-info-title">Mobogenie</h1>
				<p class="c-6 f14 version"><%=I18N.fillDomText('setting.aboutMeVersion','<span class="ver">3.3.6</span>')%></p>
				<p class="c-6 f14 website"><%=I18N.fillDomText('setting.MGWebsite')%> <a class="special link-MG" href="javascript:;"> http://www.mobogenie.com </a></p>
				<p class="c-6 f14 forums"><%=I18N.fillDomText('setting.MGForums')%> <a class="special link-forums" href="javascript:;"> http://forums.mobogenie.com </a></p>
				<p class="c-9 f12 cf"><%=I18N.fillDomText('setting.aboutMeFootText')%></p>
				<div class="links f12">
					<p><a class="special link-privacy" href="javascript:;"><%=I18N.fillDomText('setting.aboutMeLinkPolicy')%></a></p>
					<p><a class="special link-EULA" href="javascript:;"><%=I18N.fillDomText('setting.aboutMeLinkEULA')%></a></p>
					<p><a class="special link-TOS" href="javascript:;"><%=I18N.fillDomText('setting.aboutMeLinkTOS')%></a></p>
					<p><a class="special link-upload" href="javascript:;"><%=I18N.fillDomText('setting.upload')%></a></p>
				</div>
				
				<p class="c-blue f18 update-text hide"><%=I18N.fillDomText('setting.aboutMeUpdate')%><i></i></p>
				
			</dt>
		</dl>
	</div>
	
</script>