<script id="tpl-Guide-view" type="text/tpl">
	<div class="guide-wrap">
	    <div class="img_cont" id="img_cont">
	        <ul class="slideshow" id="slidesImgs">
	            <li class="slid02"><p><%=I18N.fillDomText('guide.wifiVer')%></p><div class="try"><%=I18N.fillDomText('guide.tryNow')%></div></li>
	            <li class="slid03"><p><%=I18N.fillDomText('guide.araicVer')%><div class="try"><%=I18N.fillDomText('guide.tryNow')%></div></p></li>
	            
	        </ul>
	        <span class="future"><%=I18N.fillDomText('guide.Future')%></span>
	    </div>
	    <div class="slidebar" id="slideBar">
	        <ul class="slide-list">
	            <li class="guide-02"><%=I18N.fillDomText('driver.driverWifiConnect')%></li>
	            <li class="guide-03"><%=I18N.fillDomText('guide.supportarabic')%></li>
	            
	            
	        </ul>
	    </div>
	    
	</div>
</script>