<script id="tpl-tools-main-view" type="text/tpl">
    <div class="g-tools">
        <div class="g-tools-moudle">
            <div class="g-tools-info">
                <h1 class="f24 c-9 management"><%=I18N.fillDomText('tools.managementTool')%></h1>
                <ul>
                    <li class="btn-backup">
                        <i class="icon backup fl"></i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('tools.backup')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.backupIntro')%></p>
                        </div>
                    </li>
                    <li class="btn-restore">
                        <i class="icon restore fl"></i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('tools.restore')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.restoreIntro')%></p>
                        </div>
                    </li>
                    <li class="btn-fileManager">
                        <i class="icon file fl mr"></i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('tools.fileManager')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.fileManagerIntro')%></p>
                        </div>
                    </li>
                    <li class="btn-screenshot hide">
                        <i class="icon screenshot fl"></i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('tools.screenshot')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.screenshotIntro')%></p>
                        </div>
                    </li>
                    <li class="btn-deviceInfo">
                        <i class="icon device fl"></i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('common.deviceInfo')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.deviceInfoIntro')%></p>
                        </div>
                    </li>
                    <li class="btn-installApp">
                        <i class="icon install fl"></i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('tools.installApp')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.installAppIntro')%></p>
                        </div>
                    </li>
                    
                </ul>
            </div>
            <div class="line"></div>
            <div class="g-tools-info">
                <h1 class="f24 c-9 advanced"><%=I18N.fillDomText('tools.advancedTool')%></h1>
                <ul>
                    <li class="btn-oneclick">
                        <i class="icon root fl">
                        	<div class="progress-bar">
				            	<span style="width: 0%"></span>
				        	</div>
                        </i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('tools.root')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.rootIntro')%></p>
                        </div>
                    </li>
                    <!--清理大师-->
                    <!--<li class="btn-pcCleaner">
                        <i class="icon clean fl mr">
                        	<div class="progress-bar">
				            	<span style="width: 0%"></span>
				        	</div>
                        </i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('tools.pcCleanerLabel')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.cleanText')%></p>
                        </div>
                    </li>-->
                    <li class="btn-import-outlook hide">
                        <i class="icon import-outlook fl"></i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('tools.importOutlook')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.importOutlookIntro')%></p>
                        </div>
                    </li>
                    <li class="btn-import-symbian hide">
                        <i class="icon import-symbian fl"></i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('tools.importSymbian')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.importSymbianIntro')%></p>
                        </div>
                    </li>
                    <!--
                    <li class="btn-wifi-connection btn-wifiHotpot">
                        <i class="icon free-wifi fl"></i>
                        <div class="g-tools-info-text">
                            <b class="f14 c-3 te"><%=I18N.fillDomText('tools.freeWifi')%></b>
                            <p class="f12 c-6"><%=I18N.fillDomText('tools.freeWifiIntro')%></p>
                        </div>
                    </li>   -->                     
                </ul>
            </div>
        </div>
    </div>
</script>
