<script id="tpl-select-portrait-view" type="text/tpl">
	<div>
		<div class="select-wrap">
			<div class="cbox">
				<img src="../common/images/ico/select-par.png">
			</div>
			<div class="cbox">
				<button class="g-btn g-btn1 select-pc"><%=I18N.fillDomText('signin.selectPicFromPCLabel')%></button>
			</div>
			<div class="cbox">
				<button class="g-btn g-btn3 select-phone"><%=I18N.fillDomText('signin.selectPicFromPhoneLabel')%></button>
			</div>
			<div class="cbox">
				<button class="label"><%=I18N.fillDomText('signin.promptConnect')%></button>
			</div>
		</div>
		<div class="cut-panel">
			<div class="cbox img-area">
				<img src="">
			</div>
			<div class="cbox">
				<button class="g-btn g-btn1 set-pic"><%=I18N.fillDomText('signin.setAsProfilePhoto')%></button>
			</div>
		</div>
		<div class="upload-wrap cbox">
			<div style="width:80%">
				<div class="upload-label"><%=I18N.fillDomText('signin.imgUploading')%></div>
				<div class="progress-bar">
		            <span style="width: 0%"></span>
		        </div>
			</div>
		</div>
	</div>
</script>